#overlay {
  margin: 5vh 5vw;
  width:90vw;
  height: 90vh;
  background-color: yellow;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay img {
  height: 100%;
  width: 100%;
}





.grid {
  column-count: 3;
  
  transform: translateY(20px);
}

.image_box {
  transition: 1s;
}
.image_box:hover {
  transform: scale(110%, 110%);
}

.grid img {
  max-width: 200px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: 1s;
}


.App-header :hover {
  color: rgb(107, 234, 207);
  font-size: calc(15px + 2vmin);
}


.App-link {
  color: #4eac4e;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********* Simple or original overlay *******/

/* Main container */
.overlay-image {
  
  position: relative;
  width: 100%;
}



/* Original image */
.overlay-image .image {

  margin-top: 10%;
  display: block;
  width: 100%;
  height: auto;
}






/* position fixes made with visual css editor */
/* Image */
.grid .image_box:nth-child(1) img{
  position:relative;
  top:-33px;
 }
 
 /* Shape */
 .grid .image_box:nth-child(1) .shape{
  top:-23px;
 }
 
 /* Shape */
 #root .App .grid .image_box:nth-child(1) .overlay-image a .shape{
  bottom:auto !important;
 }
 
/* Image */
.grid .image_box:nth-child(2) img{
  position:relative;
  top:-34px;
 }
 
 /* Shape */
 .grid .image_box:nth-child(2) .shape{
  top:-24px;
  bottom:auto !important;
 }
  
 
/* end of position fixes */

/*from https://stackoverflow.com/questions/31669656/css-shapes-with-text-inside-it*/
.shape{
  background:
    linear-gradient(-45deg , transparent 50%,#d5d5d5 50%) right no-repeat;

  border-radius: 10px;
  padding:0% 5%;
  color:white;
  width: 80%;
 height:100%;
 font: ;
  
  margin-top: 10%;
  transform:translatex(-100px) translatey(-40px) skewX(50deg);
  font-size: 15px;
  line-height: 15px;
  text-shadow: 2px 2px 2px #000;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 45%;
  opacity: 0;
  transition: 0.5s;
}

.shape:hover {
  transform:translatex(-186px) translatey(-50px) skewX(0deg);
  opacity: 1;
  width: 39%;
  
}

footer {
  position: left;
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  width: 100%;
  height: 10px;
}

/* social media*/
/*from  https://bbbootstrap.com/snippets/social-media-icons-tooltip-hover-effect-29619881*/
.content-left{
  height:100vh;
  display:flex;
  justify-content:left;
  align-items:left;
}

ul{
  display:flex;
  list-style:none;
}


@media (max-width:700px) {
  ul {
      display: block
  }
}

ul li{
  margin:10px;
  height:70px;
  width:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  cursor:pointer;
  position:relative;
  
}

ul li i{
  transition:all 0.3s linear;
}


ul li:hover i{
  color:#fff;
  font-size:17px;
}

ul li:hover::after{
  opacity:1;
  transform:scale(0.8);
 
}

ul li::after{
  content:"";
  position:absolute;
  height:inherit;
  width:inherit;
  border-radius:50%;
  opacity:0;
  z-index:-1;
  transition:all 0.3s linear;
  
}

ul li:nth-child(1){
  
  border:2px solid #3b5998;
  color:#3b5998;
}

ul li:nth-child(1)::after{
  
  background-color:#3b5998;
   color:#3b5998;
}


ul li:nth-child(2){
  
  border:2px solid #00aced;
  color:#00aced;
}

ul li:nth-child(2)::after{
  
  background-color:#00aced;
   color:#00aced;
}


ul li:nth-child(3){
  
  border:2px solid #007bb6;
  color:#007bb6;
}

ul li:nth-child(3)::after{
  
  background-color:#007bb6;
   color:#007bb6;
}



ul li:nth-child(4){
  
  border:2px solid #dd4b39;
  color:#dd4b39;
}

ul li:nth-child(4)::after{
  
  background-color:#dd4b39;
   color:#dd4b39;
}